/* Reset default form styles */
.contact-wrapper {
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #202020, #20202000);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-banner, .form-wrapper{
  margin: 20px;
}

.form-wrapper input,
.form-wrapper textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

textarea{
  resize: none;
}

/* Optional: Make form inputs responsive */
@media screen and (min-width: 601px) {
  .form-wrapper input,
  .form-wrapper textarea,
  .form-wrapper button {
  
  }
}
