.projects{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.projects h1{
    padding: 24px;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.project-item-portrait{
    display: flex;
}

.project-item img{
    height: auto;
    width: 500px;
    border-radius: 15px;
    margin: 24px;
}

.portrait-wrapper img{
    height: 400px;
    width: auto;
    border-radius: 15px;
    margin: 24px;
}