.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.description-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}

.description-wrapper hr{
    background-color: white;
    width: 90%;
    height: 2px;
    border-radius: 15px;
}

.description-wrapper h1{
    font-size: 2.5rem;
    padding: 24px;
}

.description-wrapper h2{
    padding: 24px;
    font-size: .8rem;
}

.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px;
    background: rgba(255, 255, 255, 0.069);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(12.4px);
}

.skills-wrapper img{
    padding: 15px;
    width: 60px;
    height: 60px;
}
@media screen and (min-width: 500px){
    .skills-wrapper img{
        padding: 24px;
        width: 80px;
        height: 80px;
    }

    .description-wrapper h1{
        font-size: 3rem;
    }

    .description-wrapper h2{
        font-size: 1.2rem;
        margin: 0 24px;
    }
}

@media screen and (min-width: 600px){
    .wrapper{
        display: flex;
        align-items: center;
        min-height: 80svh;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 0px 24px;
    }

    .skills-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .description-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-wrapper h1{
        font-size: 3rem;
    }

    .description-wrapper h2{
        font-size: 1.3rem;
        margin: 0 24px;
    }

    .description-wrapper hr{
        width: 90%;
        height: 2px;
    }

    .skills-wrapper img{
        padding: 24px;
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 1000px){
    .wrapper{
        display: flex;
        align-items: center;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 0px 150px;
    }

    .skills-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .description-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-wrapper h1{
        font-size: 3rem;
    }

    .description-wrapper h2{
        font-size: 1.3rem;
        margin: 0 80px;
    }

    .description-wrapper hr{
        width: 90%;
        height: 2px;
    }

    .skills-wrapper img{
        padding: 24px;
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width: 1500px){
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        margin: 0px;
        padding: 0px;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .skills-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .skills-container, .description-wrapper{
        margin: 40px;
    }

    .description-wrapper{
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 15px;
    }

    .description-wrapper h1{
        font-size: 3rem;
    }

    .description-wrapper h2{
        font-size: 1.3rem;
        margin: 0 20px;
    }

    .description-wrapper hr{
        width: 90%;
        height: 2px;
    }

    .skills-wrapper img{
        padding: 24px;
        width: 140px;
        height: 140px;
    }
}